# Build output
/build/
/export/

# Object files and dependency files
*.o
*.d

# Logs
/logs/
*.log

# Lock files
*.lock

# Binary artifacts
*.bin
*.pdi
*.elf

# Vitis/IDE
.vitisWorkspace.json
_ide/logs/
_ide/.wsdata
_ide/bitstream/
_ide/hwspec.checksum

# Compilation databases and IDE caches
compile_commands.json
src/.cache/
src/.clangd
src/.compile_commands/
